.header{
  background-color: #3AAFA9;
  width: 100%;
  height: 5em;
}
#logo{
  float: left;
  width: auto;
  height: 60px;
  margin-left: 10px;
  margin-top: 5px;
}
#menu{
float: left;
margin-left: 8em;
margin-top: 1em;

}
#Logo{
float: left;
font-size: 50px;
margin-top: 7px;
margin-left: 30px;
font-family: 'Roboto', sans-serif;
color: #DEF2F1;
}
#searchForm{
float: left;
margin-left: 10px;
margin-top: 20px;
}

#profile{
  margin-left: 30em;
  margin-top: 12px;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: #3AAFA9;
}
#profile:hover{
  background-color: #2B7A78;
}
.filter
{
  position: relative;
  margin-top: 5em;
  margin-left: 13em;
}
.secondRow{
  margin-top: 20px;
  margin-left: -20px;
}
.Services{
  width: 70em;
  height: 70em;
  margin-left: 12em;
  margin-top: 2em;
  border-style: double;
  border-color: #3AAFA9;

}
.Ads{
  margin-top: 2em;
  width: 15em;
  height: 70em;
  background-color: #DEF2F1;
  float: right;
  margin-right: 18em;
}
#inputText{
  text-align:left;
  font-size: 20px;
  padding: 5px;
  border-radius: 12px;
  background-color: #DEF2F1;
}
#inputText:hover{
  background-color: #FEFFFF;
}
#searchButton{
  position: absolute;

  margin-left: 10px;
}

#searchForm{
  margin-top: 18px;
  margin-left: 30px;
}
#example{
  font-size: 15px;
}
#labelStyle{
  font-size: 15px;
  color: #17252A;

}
.filter{
  background-color: #2B7A78;
  width: 68em;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}
html{
  background-color: #FEFFFF;
}
.filterbox{
float: left;
margin-left: 50px;
  text-align: center;
  background-color:#DEF2F1;
  padding: 5px;
  border-radius: 7px;
}
.filterbox:hover{

}
#Result{
  position: absolute;
  top: 9em;
  left: 14em;
}
#FilterSearch{
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
#FilterButton{
    width: 13em;
    padding: 5px;
    border-radius: 10px;
    background-color: #3AAFA9;
}
#FilterButton:hover{
  background-color: #2B7A78;
}
#example{
  background-color: #DEF2F1;
  border: none;
  color: #3AAFA9;
}



.footer{
  width: 100%;
  height: 13em;
  background-color: #DEF2F1;

}
#previous{
  margin-left: 38%;
  margin-right: 1em;
  background-color: #3AAFA9;
  color: white;
  padding: 7px;
  border-radius: 8px;
  width: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#next{
  background-color: #3AAFA9;
  color: white;
  padding: 7px;
  border-radius: 8px;
  width: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}
